body {
  color: lime;
  background-color: black;
  text-align: center
}

.navDiv {
  border: 3px solid lime;
  height: 90%;
}

.btnNav {
  background-color: black;
  border: 1px solid lime;
  color: lime;
  width: 50%;
  float: left;
}

.btnNav:hover {
  background-color: darkgray;
}

.showcaseItem {
  border: 3px solid lime;
  text-align: center;
  width: 48%;
  height: 92%;
  margin-top: 1%;
  margin-left: 1%;
}

.scItemH4 {
  margin-top: -0.13%;
}
.scItemP {
  margin-top: -3%;
}

#showcase {
  border: 3px solid lime;
  height: 400px;
  margin-top: 3%;
}

#MGrepl {
  border: 1px solid lime;
  width: 100%;
  height: 89%;
  margin-top: -2%;
}
