body {
  color: lime;
  background-color: black;
  display: block;
  justify-content: center;
  align-content: center;
}

#main {
  border: 3px solid lime;
  width: 98%;
  height: 100%;
}

#download {
  display: none;
  border: 3px solid lime;
  width: 100%;
  height: 100%
}
