.updates {
    width: 95%;
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1vh;
    border: 2px solid lime;
    text-align: center;
}

.updates p {
    margin: 1%;
}

.codeDoc {
    background-color: rgb(20, 20, 20);
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-top: 3%;
}

.codeDoc p {
    margin: 1%;
}

code {
    background-color: rgb(12, 11, 11);
}

#changelog {
    width: 20%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 1.5%;
    border: 2px solid lime;
    overflow-y: auto;
}

#about {
    width: 65%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 1.5%;
    border: 2px solid lime;
    overflow-y: auto;
}

#about p {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
