body {
  background-color: deepskyblue;
  color: darkslategray;
  text-align: center;
  align-items: center;
}

.title {
  font-size: 250%;
}

.colorBG {
  background-color: skyblue;
}

.temp-group {
 border: 3px solid darkblue; 
}

#cityNameInput {
  width: 90%;
  height: 20%;
  text-align: center;
}

#search-button {
  width: 20%;
  height: 20%;
  margin-top: 1%;
  border-radius: 50%;
}
