body {
  background-color: deepskyblue;
  color: darkslategray;
  text-align: center;
  align-items: center;
}

.title {
  font-size: 65px;
}

.city-name-input {
  background-color: skyblue;
}

.search-btn {
  background-color: skyblue;
}

.temp-section {
  background-color: skyblue;
}
