body {
    background-color: black;
    color: lime;
}

#title {
    text-align: center;
}

#main {
    border: 3px solid lime;
    width: 75%;
    margin-left: 12%;
    text-align: center;
}

#langs {
    border: 2px solid gray;
    background-color: darkslategray;
    width: 25%;
    height: 30%;
}
