/*
    Programmer: AJ Cassell (@BrotatoBoi).
    Date: October/27/2021.
    Description: This is the Stylesheet for the FReelance page.
*/


/*
 :Pages Body:
 Set the background  color to Black.
 Set the Color to Lime Green.
*/
body {
    background-color: black;
    color: lime;
}

/*
 :The Title Div:
 Align the text to the center.
*/
#title {
    text-align: center;
}

/*
 :The Main Div:
 Add a 3px solid Lime Green border.
 Set the width to 70% of the page.
 Set the left margin to 12% of the page.
 Align the text to the center.
*/
#main {
    border: 3px solid lime;
    width: 75%;
    margin-left: 12%;
    text-align: center;
}

/*
 :Language List:
 Add a 2px solid gray border.
 Set the background color to Dark Slate Gray.
 Set the width to 25% of the page.
 Set the height to 30% of the page.
*/
#langs {
    border: 2px solid gray;
    background-color: darkslategray;
    width: 25%;
    height: 30%;
}
